.personal-entry
  = render "items/entry-header"
  %main.personal-entry__main
    %section.entry-container
      %h2.sms-head
      住所入力
    = form_for @address do |f|
      %li.actions
        = link_to payMethod_path do
          = f.submit "次へ進む", class:"btn-default btn-red"
  = render "items/entry-footer"