.personal-entry
  = render "items/entry-header"
  %main.personal-entry__main
    %section.entry-container
      %h2.sms-head
      完了画面
    = form_for @complete do |f|
      %li.actions
        = link_to root_path do
          = f.submit "メルカリを始める", class:"btn-default btn-red"
        = render "devise/shared/links"
  = render "items/entry-footer"